<p>
  <b>Id:</b>
  <%=h @news_item.id %>
</p>

<p>
  <b>Section:</b>
  <%=h @news_item.section %>
</p>

<p>
  <b>Subsection:</b>
  <%=h @news_item.subsection %>
</p>

<p>
  <b>Headline:</b>
  <%=h @news_item.headline %>
</p>

<p>
  <b>Summary:</b>
  <%=h @news_item.summary %>
</p>

<p>
  <b>Url:</b>
  <%=h @news_item.url %>
</p>

<p>
  <b>Byline:</b>
  <%=h @news_item.byline %>
</p>

<p>
  <b>Platform:</b>
  <%=h @news_item.platform %>
</p>

<p>
  <b>Source:</b>
  <%=h @news_item.source %>
</p>

<p>
  <b>Created:</b>
  <%=h @news_item.created %>
</p>

<p>
  <b>Pubdate:</b>
  <%=h @news_item.pubdate %>
</p>

<p>
  <b>Subtype:</b>
  <%=h @news_item.subtype %>
</p>

<p>
  <b>Kicker:</b>
  <%=h @news_item.kicker %>
</p>

<p>
  <b>Subheadline:</b>
  <%=h @news_item.subheadline %>
</p>

<p>
  <b>Terms:</b>
  <%=h @news_item.terms %>
</p>

<p>
  <b>Organizations:</b>
  <%=h @news_item.organizations %>
</p>

<p>
  <b>People:</b>
  <%=h @news_item.people %>
</p>

<p>
  <b>Locations:</b>
  <%=h @news_item.locations %>
</p>

<p>
  <b>Indexing terms:</b>
  <%=h @news_item.indexing_terms %>
</p>

<p>
  <b>Categories tags:</b>
  <%=h @news_item.categories_tags %>
</p>

<p>
  <b>Created at:</b>
  <%=h @news_item.created_at %>
</p>


<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<%= link_to 'Back', news_items_path %>
